.section {
    padding-bottom: 10rem;
}

.uber {
    float: left;
    margin-right: 7%;
}

.amazo {
    float: left;
    margin-right: 7%;
}

.github {
    float: left;
}

.request-button {
    color: white;
    background-color: black;
    height: 1.8rem;
    cursor: pointer;
    transition: opacity 0.15s;
}

.request-button:hover {
    opacity: 0.7;
}

.request-button:active {
    opacity: 0.5;
}

.ub {
    margin-bottom: 0.5rem;
}

.ama {
    margin-bottom: 0.5rem;
}

.gi {
    margin-bottom: 0.5rem;
}

.add-button {
    background-color: rgb(255, 216, 20);
    height: 1.8rem;
    border: none;
    width: 150px;
    border-radius: 2rem;
    cursor: pointer;
    transition: opacity 0.15s;
}

.add-button:hover {
    opacity: 0.7;
}

.add-button:active {
    opacity: 0.4;
}

.sign-button {
    background-color: rgba(46, 164, 79);
    height: 1.8rem;
    border: none;
    width: 80px;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.sign-button:hover {
    background-color: rgb(66, 209, 162);
    color: black;
}

.sign-button:active {
    opacity: 0.4;
}

.bootstrap {
    float: left;
    margin-right: 5%;
}

.linkedln {
    float: left;
}

.get-button {
    padding-right: 1rem;
    background-color: rgb(121, 82, 179);
    height: 1.8rem;
    width: 90px;
    border: none;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    transition: opacity 0.15s;
}

.get-button:hover {
    opacity: 0.7;
}

.get-button:active {
    opacity: 0.4;
}

.download-button {
    background-color: white;
    color: rgb(108, 117, 125);
    height: 1.8rem;
    width: 90px;
    border: none;
    border-radius: 0.2rem;
    border: 0.1rem solid rgb(108, 117, 125);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.download-button:active {
    opacity: 0.7;
}

.apply-button {
    background-color: rgb(10, 102, 194);
    height: 1.8rem;
    width: 200px;
    border: none;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.apply-button:hover {
    background-color: rgb(184, 223, 235);
    color: blue;
}

.apply-button:active {
    opacity: 0.5;
}

.save-button {
    background-color: white;
    height: 1.8rem;
    width: 70px;
    border: 0.1rem;
    border-radius: 2rem;
    color: rgb(10, 102, 194);
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.save-button:hover {
    background-color: rgb(168, 189, 209);
    color: white;
}

.save-button:active {
    opacity: 0.4;
}

.amazon {
    color: rgb(0, 113, 133);
    cursor: pointer;
    transition: color 0.15s;
}

.amazon:hover {
    color: red;
}

.amazon:active {
    opacity: 0.4;
}

.nike {
    padding-top: 1rem;
}

.price {
    color: rgb(0, 118, 0);
    cursor: pointer;
}

.add {
    background-color: rgb(255, 216, 20);
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    height: 1.8rem;
    width: 100px;
    margin-right: 1rem;
    transition: box-shadow 0.15s;
}

.add:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.buy {
    background-color: rgb(255, 164, 28);
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    height: 1.8rem;
    width: 100px;
    transition: box-shadow 0.15s;
}
.buy:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}